a[href] {
  color: var(--link);
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0.3);
}

button:focus:not(:focus-visible), a[href]:focus:not(:focus-visible) {
  outline: 2px solid transparent;
}

a[href]:focus {
  outline: 2px solid orange;
}

a[href]:hover {
  color: var(--link-hover);
}

a[href]:active {
  color: var(--text-primary);
}

a[href]:visited {
  text-decoration: underline;
}
