:root {
  --lightgray: #e0e0e0;
  --navy: #17050F;
  --blue: #082840;
  
  --app-width: 650px;
}

@media screen and (min-width: 70em) {
  :root {
    --app-width: 700px;
  }
}

* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

html {
  font-size: 62.5%;
}

body {
  background-color: var(--background-primary);
  color: var(--text-secondary);
  line-height: 2.1rem;
  font-size: var(--font-size-l);
  font-weight: 400;
}

::selection {
  background: var(--highlight-bg);
}

p,
li {
  font-size: var(--font-size-l);
  line-height: 3rem;
}

p:last-child {
  margin-bottom: 0;
}

.app {
  display: flex;
  min-height: 100vh;
  max-width: 1980px;
  margin: 0 auto;
}

.app__right-panel,
.app__left-panel {
  display: none;
  flex: 1 1 auto;
  transition: flex 180ms ease-out;
}

@media screen and (min-width: 70em) {
  .app__right-panel,
  .app__left-panel {
    display: flex;
  }
}

.app__left-panel {
  order: 1;
}

.app__right-panel {
  order: 3;
  position: relative;
  transition: background-color 180ms ease-out, box-shadow 180ms ease-out;
}

.app__right-panel-trigger {
  font-size: 4rem;
  position: absolute;
  right: 80px;
  z-index: 2;
  transition: transform 180ms ease-out;
  margin: 190px auto auto;
}

.app__right-panel-network {
  width: calc(1980px - var(--app-width));
  height: 100vh;
  border: none;
  margin: 0;
  padding: 0;
  z-index: 1;
  /* opacity: 0; */
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  transition: transform 100ms ease-out, opacity 180ms ease-out;
}

.app__right-panel-network .vis-network:focus{
  outline: none;
}

.app__right-panel-description {
  display: none;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  background-color: white;
  padding: 40px;
  border-radius: 4px;
  margin-top: 180px;
  box-shadow: 30px -2px 74px -30px rgb(0 0 0 / 10%);
  width: 300px;
  animation-duration: .2s;
  animation-name: slidein;
  animation-fill-mode: forwards;
  z-index: 2;
}

.app__main {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  padding: 0 30px 30px;
  min-width: 300px;
  box-sizing: border-box;
  margin: 0 auto;
  flex: 0 1 var(--app-width);
  transition: flex 180ms ease-out;
  order: 2;
  background-color: white;
  z-index: 2;
}

@media screen and (min-width: 40em) {
  .app__main {
    padding: 0 40px 50px;
  }
}

.content {
  padding: 20px 20px 40px;
}

@media screen and (min-width: 40em) {
  .content {
    padding: 20px 20px 100px;
  }
}

.content__back {
  display: inline-block;
  margin: 20px 0 60px;
  height: 20px;
}

#page-back {
  visibility: hidden;
}

.app__main--open + .app__left-panel {
  flex: 0 0 auto;
}

.app__main--open ~ .app__right-panel {
  background-color: #f7f7f7;
  box-shadow: inset 30px -2px 74px -30px rgb(0 0 0 / 10%);
}

.app__right-panel-trigger:hover,
.app__right-panel-trigger:focus {
  transform: rotate(180deg);
}

.app__right-panel-trigger:hover ~ .app__right-panel-description,
.app__right-panel-trigger:focus ~ .app__right-panel-description {
  display: block;
}

.app__main--open #page-back {
  visibility: visible;
}

.app__main--open ~ .app__right-panel .app__right-panel-description {
  display: none;
}

.app__main--open .app__right-panel-network,
.app__right-panel-trigger:focus ~ .app__right-panel-network,
.app__right-panel-trigger:hover ~ .app__right-panel-network  {
  display: block;
}

h1 {
  color: var(--text-primary);
  line-height: 4rem;
  margin: 20px 0 10px;
}

img {
  max-width: 100%;
}

blockquote {
  font-style: italic;
  color: grey;
  margin: 50px 0;
  position: relative;
}

blockquote::before {
  content: '';
  position: absolute;
  border-left: 4px solid #c2c2c2;
  height: 100%;
  left: -20px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.time {
  margin-bottom: 60px;
  display: block;
}

@keyframes slidein {
  from {
    opacity: 0;
    top: 10%;
  }

  to {
    opacity: 1;
    top: 0;
  }
}
