.posts {
  list-style: none;
  padding: 0;
  margin-top: 40px;
}

.posts__entry {
  position: relative;
  display: flex;
  padding: 0 0 5px;
  line-height: 2.1rem;
}

.posts__entry-date {
  width: 120px;
  flex-shrink: 0;
  display: inline-block;
  color: var(--text-tertiary);
}
