pre,
code {
  font-family: Consolas, Menlo, Monaco, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", "Courier New", Courier, monospace;
  line-height: 1.5;
}

pre {
  font-size: 14px;
  line-height: 1.375;
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  -moz-tab-size: 2;
  -o-tab-size: 2;
  tab-size: 2;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
  padding: 1em;
  margin: .5em 0;
  background-color: #f6f6f6;
  overflow: scroll;
}

blockquote {
  font-style: italic;
  color: grey;
  margin: 50px 0;
  position: relative;
}

blockquote::before {
  content: '';
  position: absolute;
  border-left: 4px solid #c2c2c2;
  height: 100%;
  left: -20px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.time {
  margin-bottom: 60px;
  display: block;
}
